USER_SERVICE_URL=http://user-service:8000
ORDER_SERVICE_URL=http://order-service:8000
PAYMENT_SERVICE_URL=http://payment-service:8000
NOTIFICATION_SERVICE_URL=http://notification-service:8000

ORDER_USER_SERVICE_TIMEOUT_SECONDS=2.0